html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: Helvetica, sans-serif;
  background-color: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}